.mainTitle{
    font-family: 'Lato-Bold';
    color: white;
    margin: auto;
    width: 100%;
    padding-top: 4vw;
    padding-bottom: 1vw;
    text-align: center;
    font-size: clamp(1.5625rem, 1.5625rem + 1.25vw, 2.8125rem);
}