.mainTitle{
    font-family: 'Lato-Bold';
    color: white;
    margin: auto;
    width: 100%;
    padding-top: 6vw;
    padding-bottom: 1vw;
    text-align: center;
    font-size: clamp(30px, 3vw, 50px);
}