<h1 class="mainTitle"> Personal Projects </h1>

<mat-card class="project-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Orchestra Management App - OMA </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Orchestra Management web-App is an implementation of a CRM applied to the handling of 
        information regarding members of orchestras. As it is a personal project, it is still 
        in a pre-release state, but the main functionalities are the storage of member's personal 
        information, the storage of scores in PDF files, the comunication of general messages with 
        relevant info to the members and the management of rehearsals and their respective assistance 
        information.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="toDemo()" mat-button class="goto" >Go to LiveDemo</button>
      <button (click)="toRepo()" mat-button class="goto">Go to Repository</button>
    </mat-card-actions>
</mat-card>