<h1 class="mainTitle"> Personal Projects </h1>

<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar class="wrapper"><i class="fa-solid fa-chart-line fa-2x card-icon"></i></div>
    <mat-card-title class="secondaryTitle">Apache Echarts & FastAPI Test </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="paragraph" >
      Test of the Angular version of Apache Echarts for the data visualization of data gathered from my current job search, started in March 2024. The processed axis arrays are obtained through a containerized microservice of FastAPI. 
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="toDemo2()" mat-button class="goto" >Go to Demo</button>
    <button (click)="toRepo2()" mat-button class="goto">Go to Repository</button>
  </mat-card-actions>
</mat-card>

<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar class="wrapper"><i class="fa-solid fa-video fa-2x card-icon"></i></div>
    <mat-card-title class="secondaryTitle">Raspberry-Pi Security Camera </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="paragraph" >
      Proof of concept for the usage of a RaspberryPi [Zero] as a security camera in a WLAN.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="toDemo3()" mat-button class="goto" >Go to Details</button>
    <button (click)="toRepo3()" mat-button class="goto" >Go to Repository</button>
  </mat-card-actions>
</mat-card>

<mat-card class="project-card">
    <mat-card-header>
      <div mat-card-avatar class="wrapper"><i class="fa-solid fa-id-card-clip fa-2x card-icon"></i></div>
      <mat-card-title class="secondaryTitle">Orchestra Management App - OMA </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="paragraph" >
        Orchestra Management web-App is an implementation of a CRM applied to the handling of information regarding members of orchestras. It is still in a pre-release state, but the main functionalities are:
      </p>
      <mat-list>
        <div class="list-element"><i class="fa-solid fa-circle fa-2xs bullet-point"></i> the storage of member's personal information</div>
        <div class="list-element"><i class="fa-solid fa-circle fa-2xs bullet-point"></i> the storage of scores in PDF files</div>
        <div class="list-element"><i class="fa-solid fa-circle fa-2xs bullet-point"></i> the communication of general notification</div>
      </mat-list>
      
    </mat-card-content>
    <mat-card-actions>
      <button (click)="toDemo1()" mat-button class="goto" >Go to Demo</button>
      <button (click)="toRepo1()" mat-button class="goto">Go to Repository</button>
    </mat-card-actions>
</mat-card>