<div id="app">
  <mat-toolbar fixedInViewport="true">

    <button class="centered-left" mat-button routerLink="/"><div style="color: white;">Home</div></button>
    <button class="centered" mat-button routerLink="/projects"><div style="color: white;">Projects</div></button>
    <button class="centered-right" mat-button routerLink="/trajectory"><div style="color: white;">Trajectory</div></button>

  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="social">
      <a (click)="toGithub()"><i class="fa fa-github fa-3x"></i></a>
      <a (click)="toInstagram()"><i class="fa fa-instagram fa-3x"></i></a>
      <a (click)="toLinkedin()"><i class="fa fa-linkedin fa-3x"></i></a>
    </div>
</div>