.mat-toolbar {

    height: 10vh;
    background-color: #0f3a58;
    color: white;
    width: 100vw;
}


.centered-left {
    font-size: 4vw;
    width: 20vw;
    margin-left: auto !important;
    margin-right: 1vw !important;
    margin-top: auto;
    margin-bottom: auto;
}
.centered-right {
    font-size: 4vw;
    width: 20vw;
    margin-right: auto !important;
    margin-left: 1vw !important;
    margin-top: auto;
    margin-bottom: auto;
}
.centered {
    font-size: 4vw;
    width: 20vw;
    margin: auto !important
}

@media screen and (min-width: 600px) {
    .mat-toolbar {
        margin: auto;
        width: 60vw
    }

    .centered {
        font-size: 1.5vw;
    }

    .centered-left {
        font-size: 1.5vw;
    }

    .centered-right {
        font-size: 1.5vw;
    }

}