.app {
    background-color: #16537e;
}

.container {
    background-color: #16537e;
    height: 90vh;
}

.mat-toolbar {
    height: 10vh;
    background-color: #0f3a58;
    color: white;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.centered .centered-left .centered-right{
    margin: auto;
}

@media screen and (min-width: 550px) {
    .centered-left {
        width: 10%;
        margin-left: auto !important;
        margin-right: 1vw !important
    }
    .centered-right {
        width: 10%;
        margin-right: auto !important;
        margin-left: 1vw !important
    }

    .centered {
        width: 10%;
        margin: 1vw !important
    }
}