.mat-toolbar {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.centered{
    margin: auto;
}

.mainTitle{
    margin: auto;
    width: 100%;
    padding-top: 8vw;
    padding-bottom: 1vw;
    text-align: center;
    font-size: 3vw;
}

.secondaryTitle{
    margin: auto;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 5vw;
    text-align: center;
    font-size: 2vw;
}

@media screen and (max-width: 550px) {
    .mainTitle {
        font-size: 7vw !important;
    }

    .secondaryTitle {
        font-size: 4vw !important;
    }
}