
<h1 class="mainTitle"> Echart Plots </h1>

<div [hidden]="!available" echarts [options]="options" [autoResize]="true" class="demo-chart"></div>
<div class="secondaryTitle" [hidden]="available"> FastAPI Not Available :(</div>
<div class="powered">
    <h2 class="powered-by"> Powered By</h2> 
    <div class="icons-wrapper"> 
        <img class="logo" src="/assets/Images/docker-logo.webp"/>
        <img class="logo" src="/assets/Images/fastapi-logo.webp"/>
        <img class="logo" src="/assets/Images/echart-logo.webp"/>
    </div> 
</div>