<h1 class="mainTitle"> OpenCV Live Video Processing </h1>

<div class="container" style="background-color: white; padding: 1vw; border-radius: 15px;">

    <div *ngIf="webcamAvailable && !permissionsDenied">
        <video id="video" autoplay playsinline style="width: 50vw; height: 50vh;"></video>
        <button (click)="onStart()">Start</button>
        <button (click)="onStop()">Stop</button>
    </div>

    <div *ngIf="permissionsDenied">
        Permissions denied. Refresh webpage.
    </div>

    <div *ngIf="!webcamAvailable">
        No webcam available
    </div>

</div>