.demo-chart {
    background-color: white;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-height: fit-content;
    margin-top: 1dvh;
    border-radius: 25px;
}

.mainTitle{
    font-family: 'Lato-Bold';
    color: white;
    margin: auto;
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 2vw;
    text-align: center;
    font-size: clamp(2.1875rem, 1.3839rem + 1.4286vw, 2.8125rem); /*35-45 (900-1600)*/
}

.secondaryTitle{
    font-family: 'Lato-Light';
    color: #B9CBD8;
    margin: auto;
    width: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    font-size: clamp(0.9375rem, 0.9375rem + 1.25vw, 2.1875rem); /*15-35 (0-1600)*/
}

.powered {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.powered-by{
    font-family: 'Lato-Light';
    color: #B9CBD8;
    font-size: clamp(1.5625rem, 0.7589rem + 1.4286vw, 2.1875rem); /*25-35 (900-1600)*/
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1vw;
}

.icons-wrapper {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    padding: 0.7vw;
}

.logo {
    padding-left: 1vw;
    padding-right: 1vw;
    height:  clamp(1.5625rem, 0.7589rem + 1.4286vw, 2.1875rem); /*25-35 (900-1600)*/
}

@media screen and (max-width: 900px) {
    .demo-chart {
        background-color: white;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-height: fit-content;
    }
}

@media screen and (max-width: 900px) {

    .mainTitle {
        font-size: clamp(1.5625rem, 1.5625rem + 1.1111vw, 2.1875rem); /*25-35 (0-900)*/
    }

    .powered-by {
        font-size: clamp(0.9375rem, 0.9375rem + 1.1111vw, 1.5625rem); /*15-25 (0-900)*/
    }

    .logo {
        font-size: clamp(0.9375rem, 0.9375rem + 1.1111vw, 1.5625rem); /*15-25 (0-900)*/
    }
}