
.image {
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
}

.paragraph {
    padding: 2vw;
    font-size: clamp(0.625rem, 0.625rem + 0.625vw, 1.25rem); /*10-20 (0-1600)*/
    text-align: justify;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-height: fit-content;
    background-color: white; 
    padding: 1vw; 
    border-radius: 15px;
}

.viewer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 300px;
    width: 300px;
    
}

.mainTitle{
    font-family: 'Lato-Bold';
    color: white;
    margin: auto;
    width: 100%;
    padding-top: 4vw;
    padding-bottom: 2vw;
    text-align: center;
    font-size: clamp(2.1875rem, 1.3839rem + 1.4286vw, 2.8125rem); /*35-45 (900-1600)*/
}

.secondaryTitle{
    font-family: 'Lato-Light';
    color: #B9CBD8;
    margin: auto;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    font-size: clamp(1.5625rem, 0.7589rem + 1.4286vw, 2.1875rem); /*25-35 (900-1600)*/
}


@media screen and (max-width: 900px) {

    .mainTitle {
        font-size: clamp(1.5625rem, 1.5625rem + 1.1111vw, 2.1875rem); /*25-35 (0-900)*/
    }

    .secondaryTitle {
        font-size: clamp(0.9375rem, 0.9375rem + 1.1111vw, 1.5625rem); /*15-25 (0-900)*/
    }

    .container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-height: fit-content;
    }

    .image {
        max-width: 90vw;
    }

}