/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable both-edges;
    background-color: #16537e;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Lato-Bold';
    src: url('/assets/Fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('/assets/Fonts/Lato/Lato-Light.ttf');
}
