
<h1 class="mainTitle">Gonzalo A. Oberreuter Álvarez</h1>
<h2 class="secondaryTitle">Informatics Civil Engineer</h2>

<div class="classicGrid">
    <!--p class="paragraphDesktop">
        Hey! I'm Gonzalo, a Chilean Informatics Civil Engineer currently living and studying a 
        Master's degree in Computer Science in Passau, Germany.
        As of right now, I'm in the last semester of the degree, writing my Master's thesis about
        the implementation of a Graph-Based object input synthesis heuristic for a better automatic 
        generation of unit tests for Python. Even thought it might not be so obvious considering my previous
        professional experiences, something I am passionate about is data visualization and how it can help
        have a better understanding of already processed raw data. Besides trying to finish my degree,
        I find myself on the look for a new job oportunity, either as a Data Analyst or a Front-end/Back-end Engineer.
    </p-->
    <p class="paragraphDesktop">IT WORKS</p>
</div>

<div class="smallGrid">
    
    <p class="paragraphSmartphone">
        Hey! I'm Gonzalo, a Chilean Informatics Civil Engineer currently living and studying a 
        Master's degree in Computer Science in Passau, Germany.
        As of right now, I'm in the last semester of the degree, writing my Master's thesis about
        the implementation of a Graph-Based object input synthesis heuristic for a better automatic 
        generation of unit tests for Python. Even thought it might not be so obvious considering my previous
        professional experiences, something I'm passionate about is data visualization and how it can help
        have a better understanding of already processed raw data. Besides trying to finish my degree,
        I find myself on the look for a new job oportunity, either as a Data Analyst or a Front-end/Back-end Engineer.
    </p>
</div>
<div style="display: none;">
<h2 class="secondaryTitleBold">Skills</h2>

<mat-grid-list class="classicGrid" cols="3" rowHeight="3:1">
    <mat-grid-tile class="tileTitle" style="border-style: solid;"><h3 class="terciaryTitleBold">Known Programming Languages</h3></mat-grid-tile>
    <mat-grid-tile style="border-style: solid;" colspan="2" ></mat-grid-tile>
    <mat-grid-tile style="border-style: solid;"><h3></h3></mat-grid-tile>
    <mat-grid-tile style="border-style: solid;" colspan="2" ></mat-grid-tile>
</mat-grid-list>
</div>