<h1 class="mainTitle"> Personal Projects </h1>

<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar class="wrapper">
      <span class="fa-stack card-icon">
        <i class="fa-solid fa-laptop fa-stack-2x"></i>
        <i class="fa-solid fa-eye fa-stack-1x"></i>
      </span>
    </div>
    <mat-card-title class="secondaryTitle">OpenCV & WebRTC</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="paragraph">
      Throwback to my work as a student during <a href="https://www.feriadesoftware.cl/feria/2020/"><q>FSMTU's XXIX Software Fair</q></a>, where I worked as a Backend Developer for the coding of a Real-Time Video App. Here, I am once again deploying a WebSocket instance as a Signaling Server for the management of RTC Peer Connections. Only one RTC Peer may be working at a time with a timeout of 30 seconds (the connection might take around 30~45 seconds to establish). The idea of the video transmition, is to transform the user's webcam through an OpenCV media transformer.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="toDemo4()" mat-stroked-button class="goto" >Go to Demo</button>
    <button (click)="toRepo4()" mat-stroked-button class="goto">Go to Repository</button>
  </mat-card-actions>
</mat-card>

<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar class="wrapper"><i class="fa-solid fa-chart-line fa-2x card-icon"></i></div>
    <mat-card-title class="secondaryTitle">Apache Echarts & FastAPI Test </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="paragraph" >
      Test of an Angular directive of Apache Echarts for the data visualization of data gathered from my current job search, started in March 2024. The processed axis data arrays are obtained through a containerized microservice of FastAPI, calling the Google Drive API. 
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="toDemo3()" mat-stroked-button class="goto" >Go to Demo</button>
    <button (click)="toRepo3()" mat-stroked-button class="goto">Go to Repository</button>
  </mat-card-actions>
</mat-card>

<mat-card class="project-card">
  <mat-card-header>
    <div mat-card-avatar class="wrapper"><i class="fa-solid fa-video fa-2x card-icon"></i></div>
    <mat-card-title class="secondaryTitle">Raspberry-Pi Security Camera </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="paragraph" >
      Proof of concept for the usage of a RaspberryPi [Zero] as a security camera in a WLAN.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="toDemo2()" mat-stroked-button class="goto" >Go to Details</button>
    <button (click)="toRepo2()" mat-stroked-button class="goto" >Go to Repository</button>
  </mat-card-actions>
</mat-card>

<mat-card class="project-card">
    <mat-card-header>
      <div mat-card-avatar class="wrapper"><i class="fa-solid fa-id-card-clip fa-2x card-icon"></i></div>
      <mat-card-title class="secondaryTitle">Orchestra Management App - OMA </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="paragraph" >
        Orchestra Management web-App is an implementation of a CRM applied to the handling of information regarding members of orchestras. It is still in a pre-release state, but the main functionalities are:
      </p>
      <mat-list>
        <div class="list-element"><i class="fa-solid fa-circle fa-2xs bullet-point"></i> the storage of member's personal information</div>
        <div class="list-element"><i class="fa-solid fa-circle fa-2xs bullet-point"></i> the storage of scores in PDF files</div>
        <div class="list-element"><i class="fa-solid fa-circle fa-2xs bullet-point"></i> the communication of general notification</div>
      </mat-list>
      
    </mat-card-content>
    <mat-card-actions>
      <button (click)="toDemo1()" mat-stroked-button class="goto" >Go to Demo</button>
      <button (click)="toRepo1()" mat-stroked-button class="goto">Go to Repository</button>
    </mat-card-actions>
</mat-card>